.main-layout {

    @media (min-width: 1300px) {
        .porject-section-wrapper {
            max-width: 100vw;
        }
    }


    @include for-extra-wide-layout {

        @media (max-width: 1180px) {
            .projects-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .porject-section-wrapper {

            h2 {
                font-size: rem(40px);
                margin-bottom: 5px;
            }

            h4 {
                font-size: 25px;
                margin-bottom: 5px;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                opacity: 100%;

                span {
                    font-size: 15px;
                    background-color: $clr1;
                    opacity: 100%;
                    padding: 5px;
                    margin-bottom: 10px;
                }
            }

            p {
                margin-bottom: 5px;
            }
        }
    }

    @include for-wide-layout {
        .projects-container {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto;

            .porject-section-wrapper {

                .tags {

                    opacity: 0.8;

                    span {

                        opacity: 0.8;

                    }

                }
            }

        }
    }

    @include for-medium-layout {
        .porject-section-wrapper {
            padding: 0 50px 30px 50px;

            h2 {
                font-size: rem(40px);
                margin-bottom: 5px;
                margin-top: 50px;
                width: 488px;
            }

            p {
                line-height: 1.2;
                font-size: 16px;
                margin-bottom: 0px;
            }

            .tags {

                span {
                    margin-top: 10px;
                    font-size: 12px;
                    background-color: #fafafa;
                    opacity: 100%;
                    padding: 5px;
                    line-height: 1;
                }
            }

            h4 {
                font-size: 25px;
                margin-bottom: 0px;
                padding-bottom: 6px;
            }
        }
    }

    @include for-narrow-layout {
        .image {
            min-width: 315px;
            height: 250px;
        }

        .porject-section-wrapper {
            h2 {
                font-size: 1.8rem;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
            }
        }
    }


    @media only screen and (max-width: 375px) {
        .porject-section-wrapper {
            h2 {
                font-size: 1.6rem;
                margin-bottom: 5px;
            }
        }
    }

}