.porject-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 150px 90px 150px;
    transition: 300ms ease-in-out;
    background-color: $clr8;
    

    h2 {
        font-size: rem(50px);
        margin-bottom: 40px;
        min-width: 367px;
        color: $clr5;
    }

    h4 {
        font-size: 25px;
        padding-bottom: 30px;
        font-weight: bold;
        color: $clr2;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        opacity: 0.8;


        span {
            opacity: 0.8;
            font-size: 15px;
            background-color: $clr7;
            padding: 4px;
            margin-bottom: 10px;
        }  
    }

    p {
        margin-bottom: 40px;
        min-width: 315px;
        font-weight: bold;
        font-size: 20px;
        color: $clr7;
    }

    button {
        min-width: 200px;
        padding: 15px 30px;
        background-color: $clr5;
        border-radius: 25px;
        font-weight: bold;
        color: whitesmoke;
        margin-top: 10px;
        font-size: rem(20px);
        transition: background-color 0.4s;
    }

    button:hover {
        background-color: whitesmoke;
        color: $clr5;
    }
}

.porject-section-wrapper:before {
    border-color:  transparent transparent transparent $clr1;
    border-style: solid;
    border-width: 0vh 0vw 19vw 100vw;
        content: "";
    height: 0;
    // position: absolute;
    left: 0;
    width: 0;
  }



.projects-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 15px;
    row-gap: 15px;
    justify-items: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.text {
    font-size: 16px;
    padding: 16px 32px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image {
    object-fit: cover;
    opacity: 1;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 30px;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    h4{
        color: $clr5;
    }

}

#instagram{
    span{
        padding: 8px;
    }
}
