.main-layout {

    @media (min-width: 1300px) {
        .contact-wrapper {
            max-width: 100vw;
            box-sizing: border-box !important;

            * {
                box-sizing: border-box;
            }
        }
    }

    @include for-extra-wide-layout {
        .contact-wrapper {
            max-width: 100vw;
            box-sizing: border-box;
        }
    }

    @include for-wide-layout {}

    @include for-medium-layout {

        .contact-wrapper {
            padding: 30px 15px;
            margin-right: 0px;

            form {
                width: 100%;
            }

            div {
                width: 100%;
            }

            .name-and-email {
                width: 100%;
                display: initial;
                margin-right: 15px;
            }
        }

        .name {
            margin-right: 0px;
        }

        input {
            background-color: $clr1;
             border: none;
            border-bottom: 2px solid $clr1;
            padding: 15px 20px;
            margin-bottom: 30px;
        }

        .subject {
            margin-right: 15px;

        }

        textarea {
            margin-right: 15px;
            padding: 15px 0px 30px 20px;

            background-color: $clr1;
            border: none;
            border-bottom: 2px solid $clr1;
        }
    }

    @include for-narrow-layout {}

}