.main-layout {

    @include for-narrow-layout {
        .slider-cmp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {

                font-size: rem(40px);
            }
        }
    }

    @include for-medium-layout {
        .slider-cmp {
            h2 {

                font-size: rem(40px);
            }
        }
    }

    @include for-narrow-layout {
        .slider-cmp {
            h2 {
                padding-bottom: 10px;
                font-size: 1.7rem;
            }
        }
    }

}