.slider-cmp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;

    h1 {
        color: $clr5;
        font-size: rem(40px);
    }
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
    }
}

.slider-agile-vue {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 240px;
        z-index: 0;
        background-image: url('../images/Subtle-Light-Tile-Pattern.jpg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
    }

    max-width: 100vw
}