.about-me-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 80px 150px 60px 150px;
    text-align: left;
    margin-bottom: 40px;
    background-color: $clr1;
    width: 100vw;

    >div {
        background-color: $clr8;
        border-radius: 30px;
        padding: 15px 10px 15px 15px;
        width: 500px;

        // -webkit-box-shadow: 2px 2px 2px 2px #ccc;
        // -moz-box-shadow: 2px 2px 2px 2px #ccc;
        // box-shadow: 2px 2px 2px 2px #ccc;
    }

    h2 {
        font-size: rem(25px);
        color: $clr5;
        text-align: center;
    }

    h3 {
        font-size: rem(18px);
        color: $clr7;
        padding-right: 5px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-paragraph {
        padding-top: 15px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 40px;
        align-items: center;
        padding-top: 15px;
    }
}



.about-section {
    background-color: $clr1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-bottom: 100px;

}

.about-section:before {
    border-color: transparent transparent #0a0811 #140f21;
    border-style: solid;
    border-width: 0 0 19vw 100vw;
    content: "";
    height: 0;
    left: 0;
    width: 0;
  }

