.about-me-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 80px 150px 60px 150px;
    text-align: left;
    margin-bottom: 40px;

    >div {
        background-color: #f2f2f2;
        border-radius: 30px;
        padding: 15px 10px 15px 15px;
        width: 500px;

        -webkit-box-shadow: 3px 3px 3px 3px #ccc;
        -moz-box-shadow: 3px 3px 3px 3px #ccc;
        box-shadow: 3px 3px 3px 3px #ccc;
    }

    h2 {
        font-size: rem(25px);
        color: $clr2;
        text-align: center;
    }

    h3 {
        font-size: rem(18px);
        color: $clr3;
    }

    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-paragraph {
        padding-top: 15px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 45px;
        align-items: center;
        padding-top: 15px;
    }
}

.about-section {
    background-color: #F8F8F8;
    padding-bottom: 40px;
}