.main-layout {

    @media (min-width: 1300px) {
        .about-me-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 80px 150px 60px 150px;
            text-align: left;
            max-width: 1400px;
            margin-bottom: 40px;        


            div {
                width: 400px;

                .about-me-paragraph {

                    h3 {
                        padding-right: 21px;
                    }
                }
            }
        }
      }


    @include for-extra-wide-layout {
        .about-me-wrapper {
            padding: 30px 100px;
        }
    }

    @media only screen and (max-width: 1200px) {
        .about-me-wrapper {

            div {
                width: 400px;

                .about-me-paragraph {

                    h3 {
                        padding-right: 21px;
                    }
                }
            }
        }
    }


    @media only screen and (max-width: 1010px) {
        .about-me-wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;


            div {
                margin-bottom: 30px;
                width: 70%;
            }

            .grid-container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                row-gap: 0px;
                align-items: center;
                justify-items: center;
                padding-top: 15px;
                text-align: center;
                width: 100%;

                img {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 10px;
                }

                h3 {
                    padding-bottom: 30px;
                }

                :last-child {
                    padding-bottom: 0px;
                }
            }

            .about-me-paragraph {
                width: 100%;
                text-align: center;
            }
        }
    }


    @include for-wide-layout {}


    @include for-medium-layout {

        .about-me-wrapper {
            padding: 30px 30px;

            div {
                width: 100%;
                .about-me-paragraph {
                    h3 {
                        padding-right: 0px;
                    }
                }
            }

            .grid-container {
                grid-template-rows: 1fr 2fr;
            }
        }


    }

    @include for-narrow-layout {

        .about-me-wrapper {
            h3 {
                font-size: 1.5rem;
            }
        }
    }



}