body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;

    link {
        color: rgb(206, 206, 206);
        text-decoration: none;
    }
}

.open{
    transform: translateY(300px);
}

html {
    scroll-behavior: smooth;
  }

#app{
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

// SETUP
@import './setup/functions';
@import './setup/mixins';
@import './setup/variabels';

// BASICS
@import './base';


// COMPONENTS
@import './cmps/navbar/navbar.cmp';
@import './cmps/hero/hero.cmp';
@import './cmps/slider/slider.scss';
@import './cmps/about-me/aboutMe.cmp';
@import './cmps/portfolio/portfolio.cmp';
@import './cmps/contact-me/contact.cmp';
@import './cmps/thank-you/thankYou.cmp';
@import './cmps/footer/footer.cmp';

// LAYOUTS 
@import './cmps/navbar/navbarLayout';
@import './cmps/hero/heroLayout';
@import './cmps/about-me/aboutMeLayout';
@import './cmps/portfolio/portfolioLayout';
@import './cmps/contact-me/contactLayout';
@import './cmps/thank-you/thankYouLatout';
@import './cmps/footer/footerLayout.cmp';