.main-layout {

    @include for-extra-wide-layout {
        .nav {
            a {
                padding: 0px 10px;
            }
        }
    }

    @include for-wide-layout {
        .nav {
            padding: 30px 100px;
        }
    }

    @include for-medium-layout {
        .navigation-icon {
            display: initial;
        }

        .nav {
            padding: 20px;
            position: fixed;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            padding: 20px 10px 20px 10px;

            a {
                padding: 25px 0px 25px 10px;
            }

            a:hover {
                background-color: #e9e9e9;
            }
        }

        .nav-bar {
            box-sizing: border-box;
            position: absolute;
            top: 100px;
            left: 0px;
            background-color: $clr8;
            width: 100vw;
            height: 0px;
            flex-direction: column;
            align-items: initial;
            justify-content: initial;
            padding-left: 10px;
            user-select: none;
            transition: 300ms ease-in-out;
            overflow: hidden;

            a {
                color: $clr7;
            }

            &.active {
                height: 310px;
            }
            
            :last-child {
                display: none;
                padding-bottom: 30px;
            }
        }
    }

    @media (max-width: 320px) {
      .nav{
        padding: 20px 38px 20px 10px
      }
    }

}

