.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    background-color: whitesmoke;

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .link {
        padding: 0px 20px;
        color: $clr3;
        font-weight: bold;
        font-size: rem(18px);
    }

    button {
        min-width: 130px;
        padding: 15px 30px;
        background-color: $clr2;
        border-radius: 25px;
        font-weight: bold;
        color: whitesmoke;
        margin-left: 20px;
        font-size: rem(20px);
        transition: background-color 0.4s;
    }

    button:hover {
        background-color: whitesmoke;
        color: $clr2;
    }

    button:focus {outline:0;}

}

.logo {
    min-width: 78px;
    height: 62px;
    font-size: rem(45px);
    color: $clr2;
    border: 1px solid $clr2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    user-select: none;
    cursor: pointer;
}

.hamburger {
    font-size: rem(35px);
    color: $clr2;
    cursor: pointer;
}

.navigation-icon {
    display: none;
}