// COLOR PALETTE

$clr2: #fafafa;
$clr2: #F05D7B;
$clr3: #0C0A5D;

$clr1: rgb(10, 8, 17);
$clr5: #a127d1;
$clr6: #4717F6;
$clr7: #E7DFDD;
$clr8: #140f21;

//rgb(17, 13, 27)
// 

// LAYOUT BREAKPOINTS

$break-narrow: 499px;
$break-medium: 768px;
$break-wide: 974px;
$break-extra-wide: 1150px;
