.main-layout {

    @media (min-width: 1300px) {
        .thank-you-wrapper {
            max-width: 100vw;
        }
    }

    @include for-extra-wide-layout {}

    @include for-wide-layout {}

    @include for-medium-layout {
        .thank-you-wrapper {
            padding-top: 150px;
        }
    }

    @include for-narrow-layout {
        .thank-you-wrapper {

            h1 {
                width: 300px;
            }

            h2 {
                width: 300px;
            }
        }
    }

}